{% extends "layout.html" %}
{% block content %}


    <h1 style="color: orangered;">DELETE CITY</h1>
    <br>
    <div>
        <form class="form-inline" method="POST" action="{{ url_for('test1') }}">
            <div class="form-group">
              <div class="input-group">
                  <label>SELECT CITY | </label>
                      <select name="delcity_select" class="selectpicker form-control">
                        {% for c in city %}
                        <option  value="{{ c.city_name}}">{{ c.city_name }}</option>
                        <h2 >{{ c }}</h2>
                        {% endfor %}
                      </select>
              </div>
              <button type="submit" class="btn btn-default">Go</button>
            </div>
          </form>
         
    </div>

    
{% endblock content %}
